body {
    background-color: #fff;
}
#auth {
    height: 100vh;
    overflow-x: hidden;
}
#auth #auth-right {
    height: 100%;
    /* background-image: url(../../images/bg/purwo.jpeg); */
    /* background: url(../../images/bg/purwo.jpeg) */
        /* linear-gradient(30deg, #2d499d, #3f5491); */
}
#auth #auth-left {
    padding: 2.1rem 8rem;
}
#auth #auth-left .auth-title {
    font-size: 4rem;
    margin-bottom: 1rem;
}
#auth #auth-left .auth-subtitle {
    font-size: 1.7rem;
    line-height: 2.5rem;
    color: #a8aebb;
}
#auth #auth-left .auth-logo {
    margin-bottom: 1rem;
}
#auth #auth-left .auth-logo img {
    height: 7rem;
}
@media screen and (max-width: 767px) {
    #auth #auth-left {
        padding: 5rem;
        font-size: 1.2rem 7%;
        padding: 2.1rem 8rem 10%;
    }
}
